.iframe1 {
    padding-top:6.25%;
    position:relative;
    display:block;
    
  }
#iframe1{
  width: 99% !important;
  height: 99% !important;
}
.infoVideo{
    padding-top:6.25%;
    position:relative;
}
.styleIframe {
    position:absolute;
    top:0; 
    left: 0;
    
}
iframe {
  width: 100% !important;
  height: 100% !important;
  
}
#contenedorItemVideo {
  background-color: rgb(44, 42, 42);
  color: azure;
}