.item {
    flex: 0 0 19.7%;
    transition: transform 600ms ease 400ms;
    margin: 0 0px;
    position: relative;
  
    img {
      height: 100%;
      width: 100%;
      vertical-align: top;
    }
  }